* {
    font-family: serif; 
    margin:0;
    padding:0;
}

div, 
nav,
h2,
h3,
p
{
    margin: 10px;
}


.banner{
    text-align: center;
    padding: 30px;
    background-color: rgba(139, 169, 148,0.8);
    padding: 250px 60px;
    background-size: cover;
}

.banner h1{
    color: rgb(53, 51, 51);
    padding: 20px;
    font-size: 90px;
    font-family: 'Brush Script MT', cursive;
}

.banner p{
    text-align: center;
    display: inline-block;
    max-width: 400px;
    margin-top: 20px;
    color: rgb(90, 80, 73)
}

nav {
    text-align: end;
    margin: 10px;
    font-weight: bold;
}

nav li {
    display: inline;
    
}

nav li a{
    text-decoration: none;
}

nav li+li::before {
    content: "| ";
}

nav li a:link{
    color: rgb(103, 121, 152)
}

nav li a:visited{
    color: rgb(159, 123, 167);
}

nav li a:hover{
    color: rgb(139, 169, 148);
}

nav li a:active{
    color: rgb(53, 51, 51);
}

blockquote {
    margin: 40px;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    line-height: 2.5;
    background-color: rgba(53, 51, 51, 0.3);
    border-radius: 20px;
}

q {
    font-weight: bold;
}

blockquote footer {
    font-style: italic;
}


#about-me h1{
    text-align: center;
}

#about-me h1,
h2 {
    color:rgb(53, 51, 51)
}

.degree {
    font-weight: bold;
}