* {
    font-family: serif; 
    margin:0;
    padding:0;
}

h1 {
    color: whitesmoke;
}

p,
li {
    font-size: 18px;
    font-family: serif;
}
  

h1 {
    text-align: center;

}


a {
    text-decoration: none;
}




#first {
    width: 500px;
    margin: 0 auto;
}

h1 {
    color: whitesmoke;
    background-color: rgb(156, 175, 136);
    line-height: 2.5;
    border-radius: 30px;
    padding: 30px;
    margin: 5px;

}


nav {
       
       vertical-align: top;
       background-color: rgb(156, 175, 136);
       

} 

nav li {
    list-style-type: none;
    display: inline;    
    text-align: end;
}

nav a{
    text-align: end;
}

nav li+li::before{
    content: " | ";
    
}

nav a:hover {
    cursor: pointer;
    color: rgb(17, 90, 29);
}

.intro {
    text-align: start;
    color: rgb(68, 44, 12);
    background-color: rgba(17, 90, 29, 0.15);
    
}
